@import "vendor/slippry";
@import "topbar";
@import "footer";

/* ==========================================================================
   Master Styles
   ========================================================================== */
body {
  font-family: 'Lato', sans-serif;
}

/* ==========================================================================
   Changes to bootstrap (remove padding from the columns)
   ========================================================================== */
.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0}

/* container adjusted */
.alt-grid .container {width:100%;max-width:none;padding:0;}
.alt-grid .container-fluid {padding-right:0; padding-left: 0;}

/* ==========================================================================
   Responsive video
   ========================================================================== */
.fix-video-space {
  font-size: 0;
  cursor: pointer;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.videoWrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

